<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{estrutura :: head('Lista de Registros')}"></head>

<body>

<header th:replace="~{estrutura :: header('Lista de Registros Professores')}"></header>

<main class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Salário</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="professor : ${professores}">
                <th th:text="${professor.getId()}">Id</th>
                <td th:text="${professor.nome}">Nome</td>
                <td th:text="${professor.salario}">Salário</td>
                <td th:text="${professor.getStatusProfessor()}">Status Professor</td>
                <td><a th:href="@{/professors/{id}/show(id=${professor.id})}">Detalhes</a></td>
                <td><a th:href="@{/professors/{id}/edit(id=${professor.id})}">Editar</a></td>
                <td><a href="#">Apagar</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <a href="professors/create">Criar Novo Professor</a>
</main>

<script th:replace="~{estrutura :: bootstrap}"></script>
</body>
</html>
